{% extends "layout.html" %}

{% block title %} Edit tip {% endblock %}

{% block body %}

<h2 class="mb-3">Edit tip</h2>

<div>
    <b class="me-1">Current title:</b>
    {{tip.title}}
</div>
<div class="mb-3">
    <b class="me-1">Current link:</b>
    {{tip.link}}
</div>

<form action="/changetip/{{tip.id}}" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" value="{{tip.title}}" name="edited_title" id="title">
    </div>

    <div class="mb-3">
        <label for="link" class="form-label">Link</label>
        <input type="text" class="form-control" value="{{tip.link}}" name="edited_link" id="link">
    </div>

    <div class="mb-3">
        <label for="tags" class="form-label">Tags</label>
        <input type="text" class="form-control" value="{{tags}}" name="edited_tags" id="tags">
    </div>

    <button type="submit" class="btn btn-primary">Submit changes</button>
</form>
{% endblock %}
