{% extends "layout.html" %}

{% block title %} Log in {% endblock %}

{% block body %}
<div class="card mx-auto" style="max-width: 100%; width: 40rem">
    <div class="card-header">Login</div>
    <form class="card-body" action="/login" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="username">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="card-footer">No account? <a href="/register">Register</a></div>
</div>
{% endblock %}
