{% extends "layout.html" %}

{% block body %}
<form action="/register" method="POST">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="category" class="col-sm-2 col-form-label">username</label>
            <input type="text" class="form-control" name="user" id="username">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="category" class="col-sm-2 col-form-label">password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
</form>
{% endblock %}