{% extends "layout.html" %}

{% block title %} My tips {% endblock %}

{% block body %}

<form action="/" method ="GET">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="filterDropdownButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter_tag == "all" %}
            Filter
            {% else %}
            Filter by: {{ filter_tag }}
            {% endif %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="filterDropdownButton">
            <li>
                <button class="dropdown-item {{ "active" if filter_tag == "all" else None }}"
                    type="submit">
                    Disable
                </button>
            </li>
            <li><hr class="dropdown-divider"></li>
            {% for tag in tags %}
            <li>
                <button class="dropdown-item {{ "active" if tag.name == filter_tag else None }}"
                    type="submit" name="tag" value="{{ tag.name }}">
                    {{ tag.name }}
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
</form>
<div class="table-responsive table-sm">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="th-lg">Title</th>
                <th scope="col" class="th-lg">Link</th>
                <th scope="col" class="th-sm">Read date</th>
                <th scope="col" class="th-sm">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for tip in tips %}
            <tr>
                <td colspan="1">{{ tip.title }}</td>
                <td colspan="1"><a href="{{ tip.link }}">{{ tip.link }}</a> </td>
                <td colspan="1">
                    {% if tip.read %}
                        {{ tip.read }}
                    {% else %}
                        <a href="/readtip/{{tip.id}}" class="btn btn-outline-primary">Mark as read</a>
                    {% endif %}
                </td>
                <td colspan="1">
                    <a href="/changetip/{{tip.id}}" class="btn btn-outline-primary">Edit</a>
                    <a href="/deletetip/{{tip.id}}" class="btn btn-outline-primary">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
